body {
	font-family: "Open Sans", helvetica, sans-serif;
}

h1, h2, h3 {
	color: white;
	line-height: 15px;
}

/*BG*/

.leftBlock, .rightBlock {
	padding: 0;
}

.leftBlock {
	background-color: blue;
	height: 100vh;
}
.rightBlock {
	background-color: red;
	height: 100vh;
}

/*Logo + Topbar*/

.topBar, .logo {
	background-color: green;
	height: 60px;
}

/*Left Block*/

.welcome {
	margin-top: 50%;
}

.formContainer {
	height: 50%;
}
form {
	margin-top: 10%;
	height: 75%;
}
textarea {
	margin-left: 5%;
	width: 90%;
	height: 75%;
	text-align: top;
}
input {
	margin-right: 5%;
	margin-top: 10px;
}

/*Right Block*/

.postHeader {
	margin-top: 150px;
}

.trendingBox {
	margin-top: 50px;
	margin-left: 5%;
	height: 100px;
	width: 90%;
	background-color: gold;
}
.trendingBox>h3 {
	height: 100%;
	margin: 0;
	padding: 15px;
	padding-bottom: 0;
}