body {
	font-family: "Open Sans", helvetica, sans-serif;
}

h1, h2, h3 {
	color: white;
	line-height: 15px;
}

/*BG*/

.leftBlock, .rightBlock {
	padding: 0;
}

.leftBlock {
	background-color: blue;
	height: 100vh;
}
.rightBlock {
	background-color: red;
	height: 100vh;
}

/*Logo + Topbar*/

.topBar, .logo {
	background-color: green;
	height: 60px;
}

/*Left Block*/

.welcome {
	margin-top: 50%;
}

/*Right Block*/

.postHeader {
	margin-top: 150px;
}