body {
	font-family: "Open Sans", helvetica, sans-serif;
	background: url(./rainy.jpg) center;
}

h1, h2, h3, h4, h5 {
	color: white;
	line-height: 15px;
}

a {
	font-weight: 900;
	cursor: pointer;
}

hr {
	border-top: 1px solid #ccc;
}

.navbar {
	border: none;
}
.navbar-nav {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.navbar-nav li a {
	color: #ffffff !important;
}
.navbar-nav li:not(:last-child) a {
	border-right: 1px solid white;
}
.navbar-nav li a:hover {
	color: #808080 !important;
}

/*BG*/

.leftBlock, .rightBlock {
	padding: 0;
}

.leftBlock {
	height: 100vh;
	border-right: 5px solid rgba(221, 221, 221, 0.1);
}
.rightBlock {
	background: rgba(48,48,72,0.7);
}

/*Logo + Topbar*/

.topBar, .logoContainer {
	background-color: rgba(48,48,72,0.7);
	height: 60px;
	padding: 0;
}

.logo {
	position: absolute;
	max-height: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Left Block*/

.welcome {
	margin-top: 33vh;
}

.formContainer {
	height: 50%;
}
.newPostForm {
	margin-top: 10%;
	height: 75%;
}
textarea {
	margin-left: 5%;
	width: 90%;
	height: 75%;
	text-align: top;
}
input {
	margin-right: 5%;
	margin-top: 10px;
}

.autoUpdateCheckbox {
	padding-top: 80px;
}
.checkboxText {
	color: white;
	font-size: 15px;
	margin-left: 2%;
}

/*Right Block*/

.postHeader {
	margin-top: 150px;
}

.trendingBox {
	margin-top: 50px;
	margin-left: 5%;
	height: 55px;
	width: 90%;
}
.trendingBox>h5 {
	height: 100%;
	margin: 0;
	padding: 15px;
	padding-bottom: 0;
}

.postsArea {
	width: 90%;
	height: 72vh;
	margin-left: 5%;
	margin-top: 5%;
	background-color: rgba(255, 255, 255, 0.9);
}

/*Right Block --> Posts*/
.postsArea>ul {
	height: 100%;
	list-style: none;
	padding: 20px 25px;
	overflow: scroll;
}

.profilePic {
	width: 68px;
	height: 68px;
	background-color: black;
	vertical-align: middle;
	border-radius: 10%;
}

.postText {
	width: 82%;
	padding-left: 20px;
}
.postText>i {
	color: #aaaaaa;
}
.postText>p {
	margin-top: 3px;
}

/*User Post Modal*/

.modal-content {
	background: rgba(255,255,255,0.9);
	box-shadow: 0px 5px 15px rgba(48,48,72,1);
}

.modal {
	text-align: center;
	padding: 0!important;
}

.modal h4 {
	color: black;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.modal-header {
	border-bottom: 1px solid #aaa;
}

.modal-body {
	text-align: left;
}
.modal-body b {
	color: #aaaaaa;
}
.modal-body p {
	margin-left: 15px;
}